<div class="popular-wrapper">
  <table class="ranking-table">
    <thead>
      <tr>
        <th>順位</th>
        <th>タグ</th>
      </tr>
    </thead>
    <tbody>
      <% ActsAsTaggableOn::Tag.most_used(10).each_with_index do |tag, index| %>
        <% rank_class = case index
          when 0 then "gold"
          when 1 then "silver"
          when 2 then "bronze"
          else "normal"
        end %>
      <tr class="<%= rank_class %>">
        <td><span class="rank"><%= index + 1 %>位</span></td>
        <td><%= link_to tag.name, questions_path(tag_name: tag.name), class: "tag-badge" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>