<h2>🧩 絵文字クイズ一覧 </h2>

<% if @questions.any? %>
<div class="quiz-list">
  <% @questions.each do |question| %>
    <%= link_to question_path(question), class: "quiz-card-link" do %>
      <div class="quiz-card">
        <h2><%= question.content %></h2>
        <p>作者：<%= question.user.name %></p>
      </div>
    <% end %>
  <% end %>
</div>
<% else %>
  <p>まだクイズがありません！</p>
<% end %>
