<p>今日のゴリラ運勢：</p>

<div style="font-size: 24px; margin-top: 1em;">
  <strong><%= @message %></strong>
</div>

<div class="mt-6 text-center block">
  <%= link_to "🔁 もう一度占う", root_path, class: "inline-block text-yellow-800 underline underline-offset-4 hover:text-yellow-600 transition duration-150 font-semibold" %>
</div>