
<div class="footer-container">
  <div class="footer-copy">
    &copy; <%= Time.current.year %> Emoji Link
  </div>
  <div class="footer-links">
    <%= link_to 'ðŸ“© ãŠå•ã„åˆã‚ã›', "https://x.com/johnny_t1010", target: "_blank", rel: "noopener" %>
    <%= link_to 'ðŸ› ï¸ ä¸å…·åˆãƒ»ã”è¦æœ›', "https://docs.google.com/forms/d/e/1FAIpQLSeQLKeHUTut-InqTrcV0ar894pXoXMi1i0NSUWRyOfGdWqehA/viewform?usp=dialog", target: "_blank", rel: "noopener" %>
  </div>
</div>
