
<div class="footer-container">
  <div class="footer-copy">
    &copy; <%= Time.current.year %> Emoji Link
  </div>
  <div class="footer-links">
    <%= link_to 'ðŸ“œ åˆ©ç”¨è¦ç´„', terms_path, target: "_blank", rel: "noopener" %>
    <span>|</span>
    <%= link_to 'ðŸ”‘ ãƒ—ãƒ©ã‚¤ãƒã‚·ãƒ¼ãƒãƒªã‚·ãƒ¼', privacy_path, target: "_blank", rel: "noopener" %>
    <span>|</span>
    <%= link_to 'ðŸ“© ãŠå•ã„åˆã‚ã›', "https://docs.google.com/forms/d/e/1FAIpQLSeQLKeHUTut-InqTrcV0ar894pXoXMi1i0NSUWRyOfGdWqehA/viewform?usp=dialog", target: "_blank", rel: "noopener" %>
  </div>
</div>
