<p> <%= @resource.email %> 様</p>

<p>「Emoji Link」のパスワードが変更されました🗝</p>
<p>これからも「Emoji Link」でたくさん遊んで、楽しい時間をお過ごしください🎉</p><br>
<p>この操作に心当たりがない場合は、速やかにサポートまでご連絡ください。</p>
<p>【連絡先】X (旧Twitter)：<%= link_to 'じょにー(@johnny_t1010)', 'https://x.com/johnny_t1010' %></p>

